In [1]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import plot_precision_recall_curve
import matplotlib.pyplot as plt
from sklearn.metrics import plot_roc_curve, roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression
from yellowbrick.classifier import ROCAUC
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
from imblearn.under_sampling import RandomUnderSampler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import KNNImputer
from geopy.geocoders import Nominatim

C:\Users\yukar\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\yukar\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
rain = pd.read_csv('data/rain_data_aus.csv')

In [3]:
rain['raintoday'] = rain['raintoday'].replace('No', 0).replace('Yes', 1)
rain['raintomorrow'] = rain['raintomorrow'].replace('No', 0).replace('Yes', 1)

In [4]:
wind_1 = pd.read_csv('data/wind_table_01.csv')
wind_2 = pd.read_csv('data/wind_table_02.csv')
wind_3 = pd.read_csv('data/wind_table_03.csv')
wind_4 = pd.read_csv('data/wind_table_04.csv')
wind_5 = pd.read_csv('data/wind_table_05.csv')
wind_6 = pd.read_csv('data/wind_table_06.csv')
wind_7 = pd.read_csv('data/wind_table_07.csv')
wind_8 = pd.read_csv('data/wind_table_08.csv')
wind_1.columns = wind_3.columns
wind_2.columns = wind_3.columns
wind = wind_1.append(wind_2, ignore_index=True).append(wind_3, ignore_index=True).append(wind_3, ignore_index=True).append(wind_4, ignore_index=True).append(wind_5, ignore_index=True).append(wind_6, ignore_index=True).append(wind_7, ignore_index=True).append(wind_8, ignore_index=True)

In [5]:
df = rain.merge(wind, on=['date','location'], how='left').drop_duplicates()

In [6]:
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'windgustdir', 'windgustspeed',
       'winddir9am', 'winddir3pm', 'windspeed9am', 'windspeed3pm'],
      dtype='object')

In [7]:
X = df[['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'windgustdir', 'windgustspeed',
       'winddir9am', 'winddir3pm', 'windspeed9am', 'windspeed3pm']]
y = df['raintomorrow']

In [8]:
rus = RandomUnderSampler(random_state=7)
X_resampled, y_resampled = rus.fit_resample(X, y)

In [9]:
df = X_resampled
df['raintomorrow'] = y_resampled

In [10]:
df['location'].unique()

array(['Adelaide', 'NorfolkIsland', 'Tuggeranong', 'Ballarat', 'Albury',
       'Watsonia', 'Penrith', 'MountGambier', 'Mildura', 'Darwin',
       'Townsville', 'Walpole', 'Perth', 'Hobart', 'Launceston',
       'Nuriootpa', 'Portland', 'SydneyAirport', 'Cairns', 'Nhil',
       'MountGinini', 'Uluru', 'Williamtown', 'Bendigo', 'PerthAirport',
       'Canberra', 'AliceSprings', 'Witchcliffe', 'NorahHead',
       'WaggaWagga', 'Brisbane', 'Katherine', 'BadgerysCreek',
       'PearceRAAF', 'Woomera', 'Albany', 'Cobar', 'GoldCoast',
       'Melbourne', 'Newcastle', 'Wollongong', 'SalmonGums', 'Sale',
       'Sydney', 'MelbourneAirport', 'CoffsHarbour', 'Moree', 'Dartmoor',
       'Richmond'], dtype=object)

In [11]:
local = df[['location']].drop_duplicates().reset_index().drop(columns=['index'])
local.to_csv('location.csv')

In [12]:
local['location'] = local['location'].replace('NorfolkIsland', 'Norfolk Island').replace('MountGambier', 'Mount Gambier')
local['location'] = local['location'].replace('SydneyAirport', 'Sydney Airport').replace('MountGinini', 'Mount Ginini')
local['location'] = local['location'].replace('PerthAirport', 'Perth Airport').replace('AliceSprings', 'Alice Springs')
local['location'] = local['location'].replace('NorahHead', 'Norah Head').replace('WaggaWagga', 'Wagga Wagga')
local['location'] = local['location'].replace('BadgerysCreek', 'Badgerys Creek').replace('PearceRAAF', 'Pearce RAAF')
local['location'] = local['location'].replace('GoldCoast', 'Gold Coast').replace('SalmonGums', 'Salmon Gums')
local['location'] = local['location'].replace('MelbourneAirport', 'Melbourne Airport').replace('CoffsHarbour', 'Coffs Harbour')

In [13]:
local

             location
0            Adelaide
1      Norfolk Island
2         Tuggeranong
3            Ballarat
4              Albury
5            Watsonia
6             Penrith
7       Mount Gambier
8             Mildura
9              Darwin
10         Townsville
11            Walpole
12              Perth
13             Hobart
14         Launceston
15          Nuriootpa
16           Portland
17     Sydney Airport
18             Cairns
19               Nhil
20       Mount Ginini
21              Uluru
22        Williamtown
23            Bendigo
24      Perth Airport
25           Canberra
26      Alice Springs
27        Witchcliffe
28         Norah Head
29        Wagga Wagga
30           Brisbane
31          Katherine
32     Badgerys Creek
33        Pearce RAAF
34            Woomera
35             Albany
36              Cobar
37         Gold Coast
38          Melbourne
39          Newcastle
40         Wollongong
41        Salmon Gums
42               Sale
43             Sydney
44  Melbourne Airport
45      Coffs Harbour
46              Moree
47           Dartmoor
48           Richmond

In [18]:
local['latitude'] = float(0)
local['longitude'] = float(0)

In [20]:
geolocator = Nominatim(timeout=10)
for item in range(0,48):
    location = geolocator.geocode(local['location'][item])
    local['latitude'][item]= location.latitude
    local['longitude'][item]=location.longitude

C:\Users\yukar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.
C:\Users\yukar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\yukar\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [21]:
local

             location   latitude   longitude
0            Adelaide -34.928181  138.599931
1      Norfolk Island -29.032804  167.948314
2         Tuggeranong -35.420977  149.092134
3            Ballarat -37.562263  143.860722
4              Albury -36.080477  146.916280
5            Watsonia -37.711002  145.083635
6             Penrith  54.663913   -2.752205
7       Mount Gambier -37.824670  140.782007
8             Mildura -34.184726  142.162497
9              Darwin -12.460440  130.841047
10         Townsville -19.256939  146.823954
11            Walpole  42.141765  -71.249499
12              Perth -31.952712  115.860480
13             Hobart -42.882509  147.328123
14         Launceston -41.434081  147.137350
15          Nuriootpa -34.469335  138.993901
16           Portland  45.520247 -122.674195
17     Sydney Airport -33.949894  151.181968
18             Cairns -16.920666  145.772185
19               Nhil -35.432528  141.283319
20       Mount Ginini -35.529720  148.772635
21              Uluru -25.345554  131.036961
22        Williamtown -32.815000  151.842778
23            Bendigo -36.758877  144.282593
24      Perth Airport -31.943122  115.966806
25           Canberra -35.297591  149.101268
26      Alice Springs -23.698388  133.881289
27        Witchcliffe -34.026335  115.100477
28         Norah Head -33.281667  151.567778
29        Wagga Wagga -35.115000  147.367778
30           Brisbane -27.468968  153.023499
31          Katherine -14.464231  132.263857
32     Badgerys Creek -35.834879  149.995766
33        Pearce RAAF -31.673960  116.017544
34            Woomera -31.199914  136.825353
35             Albany  42.651167  -73.754968
36              Cobar -31.498333  145.834444
37         Gold Coast -28.002373  153.414599
38          Melbourne -37.814218  144.963161
39          Newcastle  54.973847   -1.613157
40         Wollongong -34.424394  150.893850
41        Salmon Gums -32.981535  121.643942
42               Sale  44.980656    8.809348
43             Sydney -33.854816  151.216454
44  Melbourne Airport -37.667111  144.833481
45      Coffs Harbour -30.296241  153.113529
46              Moree  47.901594    1.237803
47           Dartmoor  50.565737   -3.900973
48           Richmond   0.000000    0.000000

In [24]:
lista = ['Adelaide', 'Norfolk Island', 'Tuggeranong', 'Ballarat', 'Albury',
       'Watsonia', 'Penrith', 'Mount Gambier', 'Mildura', 'Darwin',
       'Townsville', 'Walpole', 'Perth', 'Hobart', 'Launceston',
       'Nuriootpa', 'Portland', 'Sydney Airport', 'Cairns', 'Nhil',
       'Mount Ginini', 'Uluru', 'Williamtown', 'Bendigo', 'Perth Airport',
       'Canberra', 'Alice Springs', 'Witchcliffe', 'Norah Head',
       'Wagga Wagga', 'Brisbane', 'Katherine', 'Badgerys Creek',
       'Pearce RAAF', 'Woomera', 'Albany', 'Cobar', 'Gold Coast',
       'Melbourne', 'Newcastle', 'Wollongong', 'Salmon Gums', 'Sale',
       'Sydney', 'Melbourne Airport', 'Coffs Harbdf', 'Moree', 'Dartmoor',
       'Richmond']

In [ ]:
lat = []
long= []
for item in lista:
    location = geolocator.geocode([item])
    lat.append(location.latitude)
    long.append(location.longitude)

In [ ]:
# for item in range(0,63753):
#     location = geolocator.geocode(df['location'][item])
#     df['latitude'][item]= str(df['latitude'][item]).replace('nan', f'{location[1][0]}')
#     df['latitude'][item]= str(df['latitude'][item]).replace('nan', f'{location[1][1]}')

In [ ]:

# %%time
# pool = multiprocess.Pool()
# result = pool.map(Links, link)
# pool.terminate()
# pool.join()